<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="text/html;<%settings.charset%>">
        <title><% settings.program_title %></title>
        <link rel="stylesheet" href="<%static_uri%>javascripts/dojo/resources/dojo.css">
        <link rel="stylesheet" href="<%static_uri%>javascripts/dijit/themes/claro/claro.css">
        <link rel="stylesheet" href="<%static_uri%>javascripts/gridx/resources/claro/Gridx.css">
        <link rel="stylesheet" href="<%static_uri%>css/user_manager.css">
    </head>
    <body class="claro">
        <% content %>
    </body>
</html>
